@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #ffffff;
}
header{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 8px 23px -2px rgba(0,0,0,0.6); 
}
.headerContainer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0 1em;


ul{ width:20em;
    display:flex;
    justify-content: space-evenly; 
    list-style: none;
    margin: 1em;    
}

li{margin: 0 .5em;}

a{
    text-decoration: none;
    color: black;
}
h1 {
    /* text-shadow: 2px 2px 5px rgba(0, 0, 0); */
    font-size: 18vw;
    margin: 0;
}
.Logo{
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}










footer{
    box-sizing: border-box;
    width: 100vw;
    font-size: 1.2rem;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5vw 0;
}
footer img{
    height: 30px;
    filter: invert(100%);
}
footer div {
    margin: 0 10px;
    display: flex;
    align-items: center;
}