.galleryContainer{
    display: grid;
    grid-template-columns: 1fr 80% 1fr;
}
.gallery{
    grid-column-start: 2;

    
}
.imageContainer{
    display:inline;
    margin: 0;
    width: fit-content;
    height: fit-content;
}

img.galleryImg {
    width: 30%;
}