@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body{
    overflow-x: hidden;
    font-family: 'Bebas Neue', sans-serif;
    background-color: #ffffff;
}
header{
    box-sizing: border-box;
    width: 100%;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: rgb(255, 255, 255);
    box-shadow: -5px 8px 23px -2px rgba(0,0,0,0.6);
}

.headerContainer{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    margin: 0 1em;

}


ul{ width:20em;
    display:flex;
    justify-content: space-evenly; 
    list-style: none;
    margin: 1em;    
}

li{margin: 0 .5em;}

a{
    text-decoration: none;
    color: black;
}

h1 {
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0);
    font-size: 17vw;
    margin: 0;
    
}
h2 {text-shadow: 2px 2px 5px rgba(0, 0, 0);
    font-size: 3rem;
    color: #b6b6b6;
    margin: 0;
    font-weight: 0;
}

h3 {
    font-size: 5vw;
}

h4 {
    font-size: 4vw;
    margin: 0;
}

i{ font-family: 'Dancing Script', cursive;
    font-size: 10vw;
}

.overflow-hidden{
    overflow: hidden;
}
.br{
    height: 80px;
}
.Logo{
    font-size: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner{
    width: 100vw;
    margin-top: 3.5em;

}

.bannerImg{
    width: 100%;
    
}
.bannerText{
    position: absolute;
    top: 7em;
    margin-left: 2em;   
}

.elementContainer{
    display: grid;
    grid-template-columns: auto 60% auto;
    align-items: start;
    
}

.imageContainer {
    
    grid-column-start: 2;
    

}
.imageContainer div{
    display:inline;
    
    margin: 1%;
    border-radius: 10px;
}
.imageContainer img{
    cursor: pointer;
    width:40%;
    margin: 1%;
    border-radius: 10px;
    background-color: rgb(196, 196, 196);
}

.imageContainer img:hover{
    transition: .5s ease;
    opacity: .8;
}

.textCard{
    font-size: 100%;
    grid-column-start: 2;
    margin-top: 5%;
    padding: 1.5%;
    padding-top: 5%;
    border-radius: 10px;
    box-shadow: -5px 8px 23px -2px rgba(0,0,0,0.6);
    text-align: center;
}

.espacio{
    grid-column-start: 2;
    margin-left: auto;
    margin-right: auto;
}

#last{
    z-index: 1;
    margin: 0;
}
#last:hover{
    transition: .5s ease;
    opacity: .8;
}

.importantText{
   font-size: 4vw;
}
.vCenter{
    
    display: flex;
    align-items: center;
}
 .modal{
    position: fixed;
    top: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(95, 95, 95, 0.8);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
} 

.modal-image{
   height: 90%;
}

footer{
  
    box-sizing: border-box;
    width: 100vw;
    font-size: 1rem;
    color: #ffffff;
    background-color: rgb(0, 0, 0);
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1vw 0;
}
footer img{
    height: 18px;
    filter: invert(100%);
}
footer div {
    margin: 0 5px;
    display: flex;
    align-items: center;
}

.contactContainer{ 
      
    display: flex;
    justify-content: center;
    
}
.form-card{
    width: 50vw;
   gap: 8px;
  
}

.contactContainer form{
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    font-size: 2vw;

}

.contactContainer form div{
    
    display: flex;
    flex-direction: column;
}
input{
    border-radius: 5px;
    border-style: solid 1px;
}
textarea{
    border: solid black 2px;
    border-radius: 5px;
    resize: none;
    border-style: inset;
    
}

button{
    height: 10px + 4vw;
    background-color: rgb(70, 189, 70);
    border-radius: 10px;
    font-size: 3vw;
    cursor: pointer;
}
button:hover{
    background-color: rgb(60, 162, 60) ;
}



@media screen and (max-width: 800px) {
    h1 {
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0);
        font-size: 5rem;
        margin: 0;
    }
    .content1 img{
        height:80px;   
    }
    .modal-image{
        width: 80%;
        height: auto;
     }
}





@media screen and (max-width: 600px) {
    h1 {
        color: white;
        text-shadow: 2px 2px 5px rgba(0, 0, 0);
        font-size: 3rem;
        margin: 0;
    }
    h2 {text-shadow: 2px 2px 5px rgba(0, 0, 0);
        font-size: 1rem;
        color: #8b8b8b;
        margin: 0;}
    
    header{
    
            font-size: 1rem;
            position: fixed;
            top: 0;
            width: 100vw;
            background-color: rgb(255, 255, 255);
            box-shadow: -5px 8px 23px -2px rgba(0,0,0,0.6);
    }
    li{margin: 0 .1em;}
    .banner{
            margin-top: 2em;}
    
    .bannerText{
                position: absolute;
                top: 4em;
                margin-left: 2em;   
            }
    .content1 img{
                height:50px;}
    
  }
  